@{
    ViewData["Title"] = "Blog Post Not Found";
}

<h2>Blog Post Not Found</h2>
<p>Sorry, the requested blog post was not found.</p>
<p><a asp-controller="Blog" asp-action="BlogPosts">Back to Blog Posts</a></p>
