@{
    ViewData["Title"] = "About";
}

<div>
    <h2>About Us</h2>

    <p>Welcome to our blog! We are passionate about sharing knowledge and information on various topics. Explore our articles and enjoy your reading journey.</p>
    <p><a asp-controller="Blog" asp-action="BlogPosts">View Blog Posts</a></p>
    <p><a asp-controller="Home" asp-action="About">About Us</a></p>
</div>