@{
    ViewData["Title"] = "Home";
}

<div>
    <h2>Welcome to My Blog</h2>
    <p>This is the home page of our simple blog application. Here, you can find interesting articles and blog posts.</p>
    <p><a asp-controller="Blog" asp-action="BlogPosts">View Blog Posts</a></p>
    <p><a asp-controller="Home" asp-action="About">About Us</a></p>
    
</div>